* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-weight: 600;
    overflow-x: hidden;
    background: url("../../assets/bg.png") no-repeat;
    background-size: 100%;
    color: white;
}

button{
    cursor: pointer;
}

header{
    display: flex;
    width: 100%;
    margin: 0 0 33px 0;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container{
    margin: 0 auto;
    max-width: 1855px;
}

.header__info-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    width: 1855px;
    height: 140px;
    background: rgba(217, 217, 217, 0.1);
    box-shadow: inset 60.5px -60.5px 60.5px rgba(165, 165, 165, 0.1), inset -60.5px 60.5px 60.5px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(33.275px);
    border-radius: 56px;
}

.header__block{
    display: flex;
    align-items: center;
    margin: 50px 0 13px 0;
}

.header__title{
    margin: 0;
    font-size: 40px;
}

.back-button{
    align-items: center;
    justify-content: center;
    margin: 0 563px 0 0;
    width: 120px;
    height: 62px;
    background: rgba(84, 84, 84, 0.4);
    border: 1px solid #FFFBFB;
    border-radius: 30px;
}

.info-block__info{
    display: flex;
}

.info{
    display: flex;
}

li{
    list-style-type: none;
}

.info-item:not(:last-child){
    margin: 0 35px 0 0;
}

.main-button{
    width: 360px;
    height: 62px;
    border-radius: 30px;
    background: rgba(84, 84, 84, 0.4);
    border: 1px solid #FFFBFB;
    color: white;
}

/*----------------*/
.main__block{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 59px 0;
    width: 1855px;
    height: 725px;
    background: rgba(217, 217, 217, 0.1);
    box-shadow: inset 60.5px -60.5px 60.5px rgba(165, 165, 165, 0.1), inset -60.5px 60.5px 60.5px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(33.275px);
    border-radius: 56px;
}

.main__block-results{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 23px 17px;
    width: 1791px;
    height: 650px;
    background: rgba(255, 251, 251, 0.7);
    border-radius: 31px;
}

.block-results__count{
    margin: 0 1513px 16px 0;
    font-size: 18px;
    color: black;
}

.block-results__table{
    font-size: 18px;
    color: black;
    line-height: 20px;
}

.main-row{
    height: 36px;
    background: rgba(17, 17, 17, 0.59);
    box-shadow: inset 0 -1px 0 #111111;
    color: white;
}

.block-results__table-item{
    padding: 8px 16px;
    background: rgba(255, 251, 251, 0.1);
    box-shadow: inset 0 -1px 0 rgba(17, 17, 17, 0.08);
    font-weight: 400;
}

.block-results__button{
    margin: 41px 0 0 0;
    background: rgba(84, 84, 84, 0.74);
}


